<article>
    <header>
        <h1>{{title}}</h1>
        <time datetime="{{dateISO}}">{{date}}</time>
        <div class="tags">
            {{#each tags}}
            <span class="tag">{{this}}</span>
            {{/each}}
        </div>
    </header>
    <section class="content">
        {{content}}
    </section>
</article>

{{#if commentsEnabled}}
<section class="comments-section" id="comments">
    <h2 class="comments-title">评论</h2>
    <div class="utterances-container">
        {{commentsScript}}
    </div>
</section>
{{/if}}