<div class="article-card" data-date="{{dateISO}}" data-title="{{title}}" data-tags="{{tagsString}}">
    <h3><a href="{{slug}}.html">{{title}}</a></h3>
    <p class="article-excerpt">{{excerpt}}</p>
    <div class="article-meta">
        <time datetime="{{dateISO}}">{{date}}</time>
        <span class="reading-time">{{readingTime}} 分钟</span>
        {{#if tags}}
        <div class="article-tags">
            {{#each tags}}
            <span class="tag">#{{this}}</span>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>